.receiptTopPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.receiptTopPart .receiptTopLeftPart {
    width: 60%;
}

.receiptTopPart .receiptTopRightPart {
    width: 39%;
}

.receiptTopPart .receiptTopRightPart {
    text-align: right;
}

.itemReceiptTable {
    width: 100%;
    border-collapse: collapse;
}

.itemReceiptTable thead tr th {
    padding: 15px;
}

.itemReceiptTable tbody tr td:nth-child(1) {
    width: 10%;
    max-width: 10%;
}

.itemReceiptTable tbody tr td:nth-child(2) {
    width: 30%;
    max-width: 30%;
}

.itemReceiptTable tbody tr td:nth-child(3) {
    width: 40%;
    max-width: 40%;
}

.itemReceiptTable tbody tr td:nth-child(4) {
    width: 20%;
    max-width: 20%;
}

.noborder {
    border: none;
}

#footerMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border-top: 1px solid #ccc;
}

.disclaimer ul li {
    margin: 20px 0;
}