@media print {

    /* Ensures the background color and text color in the table headers are printed */
    .itemReceiptTable thead tr th {
        color: white !important;
        background-color: #1965af !important;
        -webkit-print-color-adjust: exact;
    }
}

body {
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.receiptTopPart {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.receiptTopPart .receiptTopLeftPart {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%;
}

.customerDetailsTable {
    width: 250px;
}

.customerDetailsTable tbody tr td:nth-child(2) {
    text-align: right;
}

.itemReceiptTable thead tr th {
    color: white;
    background-color: #000;
}

.receiptTopPart .receiptTopRightPart {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    width: 39%;
}

.receiptTopPart .receiptTopRightPart {
    text-align: right;
}

.receiptMiddlePart {
    width: 100%;
    position: absolute;
    top: 350px;
    left: 0;
    padding: 0px;
}

.itemReceiptTable {
    width: 100%;
    border-collapse: collapse;
}

.itemReceiptTable thead tr th {
    padding: 15px;
}

.itemReceiptTable tbody tr td:nth-child(1) {
    width: 10%;
    max-width: 10%;
}

.itemReceiptTable tbody tr td:nth-child(2) {
    width: 30%;
    max-width: 30%;
}

.itemReceiptTable tbody tr td:nth-child(3) {
    width: 40%;
    max-width: 40%;
}

.itemReceiptTable tbody tr td:nth-child(4) {
    width: 20%;
    max-width: 20%;
}

.noborder {
    border: none;
}

.subtotalTable {
    min-width: fit-content;
    border-top: 1px solid gray;
}

.subtotalTable tbody tr td {
    font-weight: bold;
    border: none;
}

.subtotalTable tbody tr td:nth-child(1) {
    text-align: right;
}

#footerMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border-top: 1px solid #ccc;
}


.disclaimer ul li {
    margin: 10px 0;
}